.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .contact-details {
    margin-bottom: 20px;
  }
  
  .contact-details p {
    margin-bottom: 10px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form textarea {
    resize: vertical;
  }
  
  .form button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for mobile responsiveness */
  @media screen and (max-width: 600px) {
    .contact-container {
      padding: 10px;
    }
  
    .form button {
      width: auto;
    }
  }
  